
<%- include("partials/header.ejs") %>

<div class="about" >
  <div>
        <h1>About Me</h1>
        <p>My name is João Marcelo Ferreira</p>
        <p>I'm a freelance Software Developer wholly focused on delivering <br />
        robust and scalable solutions for my clients, <br />
        with expertise centered on building modern websites,<br />
        applications, and custom AI agents. </p>
        
        <p>For the frontend, I'm proficient in React.js and Angular. <br />
        My backend skills include Node.js <br />
        (utilizing TypeScript for scalable development) and Python<br />
        (specifically Django and Flask), giving me the flexibility <br />
        to choose the ideal technology for any given project. <br />
        My development process is rigorous and quality-driven: <br />
        I implement both Unit and Integration Tests to ensure application</p>

        <p>reliability and extensively use Docker to guarantee portability<br />
         across different environments.<br/>
        I strictly adhere to Clean Code principles and best practices,<br />
         maintaining impeccable version control.</p>

        <p>Beyond my technical stack, I am fluent in English and driven <br />
        by a strong passion for continuous learning. <br />
        I am collaborative, open to new ideas, and consistently <br />
        seek out the most effective solutions for all projects. <br />
        Let's connect to discuss how my skills can bring value <br />
        to your next challenge.</p>
  </div>
</div>

<%- include("partials/footer.ejs") %>